

.yeimi1{
font-family:monospace;
font-size: 20px;
text-align: center;

}

.yeimi2{
font-family:monospace;
font-size: 20px;
text-align: center;
}



.yeimi3{
font-family:monospace;
font-size: 20px;
text-align: center;

}

.yeimi4{
font-family:monospace;
font-size: 20px;
text-align: center;
}



.yeimita1{
margin:0 auto;
background-color:#f2dfe7;
width: 620px;
}



